header {
    background: linear-gradient(90deg, #001122, #003366);
    padding: 20px;
    text-align: center;
    color: #00bbc9;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.664);
    margin-bottom: 20px;
    transition: all 0.3s ease;
}

header:hover {
    transform: scale(1.02) rotate(1deg);
}

header h1 {
    margin: 0;
    font-size: 2.5rem;
}

header p {
    margin: 5px 0 0 0;
    font-size: 1.2rem;
    color: #aaffff;
}

body {
    background: linear-gradient(0deg, #87ceeb, #d0f4f7);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: Arial;
    padding: 20px;
}

h1 {
    color: #00bbc9;
}

.card {
    background: orange;
    padding: 20px;
    border-radius: 10px;
    width: 300px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.527);
    opacity: 0;
    transform: translateY(20px);
    transition: all 0.6s ease;
}

.card.visible {
    opacity: 1;
    transform: translateY(0);
}

.card:hover {
    transform: scale(0.95) rotate(-2deg);
}

.cockpit-panel {
    background: linear-gradient(135deg, #001122, #003366);
    color: #00eeff;
    text-align: center;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.753);
}

.cockpit-panel:hover {
    transform: rotate(2deg) scale(1.05);
}

.cockpit-panel button {
    margin-top: 10px;
    background-color: #0055aa;
    color: white;
}

.cockpit-panel button:hover {
    background-color: #1e90ff;
    transform: scale(1.05);
}

button {
    padding: 10px 18px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
    margin: 10px 0;
    transition: all 0.3s ease;
}

button:hover {
    background-color: #1e40af;
    color: white;
    transform: scale(1.1) rotate(2deg);
}

img {
    transition: transform 0.3s ease;
    border-radius: 12px;
}

img:hover {
    transform: scale(1.05) rotate(-1deg);
}

img.fly-in {
    opacity: 0;
    transform: translateY(50px);
    transition: all 0.8s ease;
}

img.fly-in.visible {
    opacity: 1;
    transform: translateY(0);
}

img.fly-in:hover {
    transform: scale(1.05) rotate(-1deg);
}

footer {
    text-align: center;
    opacity: 0.5;
}